{
  "timezones": [
    { "timezone": "Israel", "label": "IDT" },
    { "timezone": "Zulu", "label": "Z" },
    { "timezone": "US/Central", "label": "Local", "local": true },
    { "timezone": "US/Pacific", "label": "PDT" },
    { "timezone": "US/Eastern", "label": "EDT" }
  ],
  "colors": {
    "defaultTimezoneLabel": { "bg": "default", "fg": "#02ffff" },
    "localTimezoneLabel": { "bg": "default", "fg": "#ffff00" },
    "defaultCell": {
      "evenBg": "#1c1c1c",
      "oddBg": "#2d2e2e",
      "fg": "#dadada"
    },
    "currentTimeCells": {
      "default": { "bg": "#5e5e86", "fg": "#90ee90" },
      "local": { "bg": "#b4420a", "fg": "#ffff00" }
    }
  }
}
